# dependencies
node_modules/

# Next.js build output
.next/
out/

# environnement
*.env
!.env.example

# caches / logs
npm-debug.log*
yarn-debug.log*
.pnp*
.cache

# production build
build/

# dépendances
jspm_packages/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# caches divers
.eslintcache
.stylelintcache

# OS / IDE / misc
.DS_Store
.vscode/
